#root {
text-align:center;
background-color: rgb(220, 93, 93);
color:white;
width: 100%;
}



.Event-Grid{
  display: flex;
  flex-direction: row;
  background-color: rgb(237, 237, 237);
  justify-content: center;
}



.EventCard{
  padding:10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: red;
  margin:1%;
  border-radius: 15px;
}

.card-image{
  width:200px;
}
@media screen and (max-width: 900px) {
  .Event-Grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}